USE [master]
GO
/****** Object:  Database [ML_IT_HelpdeskDB]    Script Date: 8/19/2026 2:27:52 PM ******/
CREATE DATABASE [ML_IT_HelpdeskDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ML_IT_HelpdeskDB', FILENAME = N'D:\00000_ThaZin Oo_ DBDD\ML_IT_Helpdesk\ML_IT_HelpdeskDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ML_IT_HelpdeskDB_log', FILENAME = N'D:\00000_ThaZin Oo_ DBDD\ML_IT_Helpdesk\ML_IT_HelpdeskDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ML_IT_HelpdeskDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ML_IT_HelpdeskDB]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 8/19/2026 2:27:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[ActionType] [nvarchar](50) NOT NULL,
	[IPAddress] [nvarchar](50) NULL,
	[Timestamp] [datetime] NULL,
	[Details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 8/19/2026 2:27:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](20) NOT NULL,
	[EmployeeName] [nvarchar](100) NOT NULL,
	[ContactPhone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[EmploymentStartDate] [date] NOT NULL,
	[EmploymentEndDate] [date] NULL,
	[JobTitle] [nvarchar](50) NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[OfficeID] [int] NOT NULL,
 CONSTRAINT [PK__Employee__7AD04FF1DA597133] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 8/19/2026 2:27:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[EquipmentID] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](50) NOT NULL,
	[EquipmentType] [nvarchar](50) NOT NULL,
	[Manufacturer] [nvarchar](100) NOT NULL,
	[Make] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[OfficeID] [int] NOT NULL,
	[WarrantyStartDate] [date] NOT NULL,
	[WarrantyEndDate] [date] NOT NULL,
	[WarrantyStatus]  AS (case when getdate()>=[WarrantyStartDate] AND getdate()<=[WarrantyEndDate] then 'Active' else 'Expired' end),
PRIMARY KEY CLUSTERED 
(
	[EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HelpdeskProblem]    Script Date: 8/19/2026 2:27:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HelpdeskProblem](
	[ProblemNumber] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[OperatorID] [int] NOT NULL,
	[EquipmentID] [int] NULL,
	[SoftwareID] [int] NULL,
	[TechnicianID] [int] NULL,
	[ProblemType] [nvarchar](50) NOT NULL,
	[CallDateTime] [datetime] NULL,
	[Reason] [nvarchar](200) NOT NULL,
	[ProblemDescription] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[ResolutionDateTime] [datetime] NULL,
	[ResolutionDescription] [nvarchar](max) NULL,
	[ResolutionHours] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProblemNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Office]    Script Date: 8/19/2026 2:27:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Office](
	[OfficeID] [int] IDENTITY(1,1) NOT NULL,
	[OfficeName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[ContactPhone] [nvarchar](20) NOT NULL,
	[Specialisation] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[OfficeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Software]    Script Date: 8/19/2026 2:27:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Software](
	[SoftwareID] [int] IDENTITY(1,1) NOT NULL,
	[SoftwareName] [nvarchar](100) NOT NULL,
	[Version] [nvarchar](20) NOT NULL,
	[LicenceNumber] [nvarchar](50) NOT NULL,
	[LicenceStartDate] [date] NOT NULL,
	[LicenceEndDate] [date] NOT NULL,
	[LicenceStatus]  AS (case when getdate()>=[LicenceStartDate] AND getdate()<=[LicenceEndDate] then 'Active' else 'Expired' end),
	[EquipmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoftwareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technician]    Script Date: 8/19/2026 2:27:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technician](
	[TechnicianID] [int] IDENTITY(1,1) NOT NULL,
	[TechnicianCode] [nvarchar](20) NOT NULL,
	[TechnicianName] [nvarchar](100) NOT NULL,
	[ContactPhone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TechnicianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicianSkill]    Script Date: 8/19/2026 2:27:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicianSkill](
	[TechnicianSkillID] [int] IDENTITY(1,1) NOT NULL,
	[TechnicianID] [int] NOT NULL,
	[SkillName] [nvarchar](50) NOT NULL,
	[SkillLevel] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TechnicianSkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuditLog] ON 

INSERT [dbo].[AuditLog] ([AuditID], [EmployeeID], [ActionType], [IPAddress], [Timestamp], [Details]) VALUES (1, 2, N'LOGIN_FAILED', N'192.168.202.230', CAST(N'2026-08-19T08:33:35.327' AS DateTime), N'Invalid password attempt for user ''EMP002''.')
INSERT [dbo].[AuditLog] ([AuditID], [EmployeeID], [ActionType], [IPAddress], [Timestamp], [Details]) VALUES (2, 2, N'LOGIN_FAILED', N'192.168.202.230', CAST(N'2026-08-19T08:33:49.627' AS DateTime), N'Invalid password attempt for user ''EMP002''.')
INSERT [dbo].[AuditLog] ([AuditID], [EmployeeID], [ActionType], [IPAddress], [Timestamp], [Details]) VALUES (3, 2, N'LOGIN_SUCCESS', N'192.168.202.230', CAST(N'2026-08-19T08:33:55.730' AS DateTime), N'User logged in successfully.')
SET IDENTITY_INSERT [dbo].[AuditLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [EmployeeCode], [EmployeeName], [ContactPhone], [Email], [Password], [EmploymentStartDate], [EmploymentEndDate], [JobTitle], [Department], [OfficeID]) VALUES (1, N'EMP001', N'John Smith', N'07700-123456', N'john.smith@ml.com', N'password123', CAST(N'2020-01-15' AS Date), NULL, N'IT Manager', N'IT', 1)
INSERT [dbo].[Employee] ([EmployeeID], [EmployeeCode], [EmployeeName], [ContactPhone], [Email], [Password], [EmploymentStartDate], [EmploymentEndDate], [JobTitle], [Department], [OfficeID]) VALUES (2, N'EMP002', N'Sarah Jones', N'07700-234567', N'sarah.jones@ml.com', N'password123', CAST(N'2020-03-01' AS Date), NULL, N'Helpdesk Operator', N'IT', 1)
INSERT [dbo].[Employee] ([EmployeeID], [EmployeeCode], [EmployeeName], [ContactPhone], [Email], [Password], [EmploymentStartDate], [EmploymentEndDate], [JobTitle], [Department], [OfficeID]) VALUES (3, N'EMP003', N'Mike Brown', N'07700-345678', N'mike.brown@ml.com', N'password123', CAST(N'2021-06-10' AS Date), NULL, N'Office Manager', N'Operations', 2)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([EquipmentID], [SerialNumber], [EquipmentType], [Manufacturer], [Make], [Model], [OfficeID], [WarrantyStartDate], [WarrantyEndDate]) VALUES (1, N'SN001', N'Laptop', N'Dell', N'Latitude', N'7420', 1, CAST(N'2023-01-01' AS Date), CAST(N'2026-01-01' AS Date))
INSERT [dbo].[Equipment] ([EquipmentID], [SerialNumber], [EquipmentType], [Manufacturer], [Make], [Model], [OfficeID], [WarrantyStartDate], [WarrantyEndDate]) VALUES (2, N'SN002', N'Printer', N'HP', N'LaserJet', N'M404dn', 1, CAST(N'2022-06-01' AS Date), CAST(N'2025-06-01' AS Date))
INSERT [dbo].[Equipment] ([EquipmentID], [SerialNumber], [EquipmentType], [Manufacturer], [Make], [Model], [OfficeID], [WarrantyStartDate], [WarrantyEndDate]) VALUES (3, N'SN003', N'Desktop', N'HP', N'ProDesk', N'600 G6', 2, CAST(N'2022-01-01' AS Date), CAST(N'2025-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[HelpdeskProblem] ON 

INSERT [dbo].[HelpdeskProblem] ([ProblemNumber], [EmployeeID], [OperatorID], [EquipmentID], [SoftwareID], [TechnicianID], [ProblemType], [CallDateTime], [Reason], [ProblemDescription], [Status], [ResolutionDateTime], [ResolutionDescription], [ResolutionHours]) VALUES (1, 1, 2, 1, NULL, 1, N'Hardware', CAST(N'2024-01-15T09:30:00.000' AS DateTime), N'Laptop not turning on', N'Employee reported laptop wont power on after update', N'Closed', CAST(N'2024-01-15T14:00:00.000' AS DateTime), N'Replaced battery and updated drivers', CAST(4.50 AS Decimal(10, 2)))
INSERT [dbo].[HelpdeskProblem] ([ProblemNumber], [EmployeeID], [OperatorID], [EquipmentID], [SoftwareID], [TechnicianID], [ProblemType], [CallDateTime], [Reason], [ProblemDescription], [Status], [ResolutionDateTime], [ResolutionDescription], [ResolutionHours]) VALUES (2, 2, 2, 2, NULL, 2, N'Hardware', CAST(N'2024-01-16T10:00:00.000' AS DateTime), N'Printer jam', N'Paper jam in printer, needs fixing', N'Closed', CAST(N'2024-01-16T12:30:00.000' AS DateTime), N'Cleared paper jam, replaced roller', CAST(2.50 AS Decimal(10, 2)))
INSERT [dbo].[HelpdeskProblem] ([ProblemNumber], [EmployeeID], [OperatorID], [EquipmentID], [SoftwareID], [TechnicianID], [ProblemType], [CallDateTime], [Reason], [ProblemDescription], [Status], [ResolutionDateTime], [ResolutionDescription], [ResolutionHours]) VALUES (3, 3, 2, 3, 3, NULL, N'Software', CAST(N'2024-01-17T11:00:00.000' AS DateTime), N'Software not working', N'Windows update causing application to freeze', N'Open', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[HelpdeskProblem] OFF
GO
SET IDENTITY_INSERT [dbo].[Office] ON 

INSERT [dbo].[Office] ([OfficeID], [OfficeName], [Address], [ContactPhone], [Specialisation]) VALUES (1, N'ML Head Office', N'123 Main Street, London', N'020-1234-5678', N'Corporate')
INSERT [dbo].[Office] ([OfficeID], [OfficeName], [Address], [ContactPhone], [Specialisation]) VALUES (2, N'ML Manchester', N'45 Market Street, Manchester', N'0161-234-5678', N'Commercial')
INSERT [dbo].[Office] ([OfficeID], [OfficeName], [Address], [ContactPhone], [Specialisation]) VALUES (3, N'ML Birmingham', N'78 Victoria Square, Birmingham', N'0121-345-6789', N'Residential')
SET IDENTITY_INSERT [dbo].[Office] OFF
GO
SET IDENTITY_INSERT [dbo].[Software] ON 

INSERT [dbo].[Software] ([SoftwareID], [SoftwareName], [Version], [LicenceNumber], [LicenceStartDate], [LicenceEndDate], [EquipmentID]) VALUES (1, N'Microsoft Office', N'2021', N'LIC-001', CAST(N'2023-01-01' AS Date), CAST(N'2024-12-31' AS Date), 1)
INSERT [dbo].[Software] ([SoftwareID], [SoftwareName], [Version], [LicenceNumber], [LicenceStartDate], [LicenceEndDate], [EquipmentID]) VALUES (2, N'Adobe Creative Cloud', N'2023', N'LIC-002', CAST(N'2023-01-01' AS Date), CAST(N'2024-12-31' AS Date), 1)
INSERT [dbo].[Software] ([SoftwareID], [SoftwareName], [Version], [LicenceNumber], [LicenceStartDate], [LicenceEndDate], [EquipmentID]) VALUES (3, N'Windows 11 Pro', N'11', N'LIC-003', CAST(N'2023-01-01' AS Date), CAST(N'2024-12-31' AS Date), 3)
SET IDENTITY_INSERT [dbo].[Software] OFF
GO
SET IDENTITY_INSERT [dbo].[Technician] ON 

INSERT [dbo].[Technician] ([TechnicianID], [TechnicianCode], [TechnicianName], [ContactPhone], [Email], [Status]) VALUES (1, N'TECH001', N'David Techman', N'07700-567890', N'david.techman@ml.com', N'Active')
INSERT [dbo].[Technician] ([TechnicianID], [TechnicianCode], [TechnicianName], [ContactPhone], [Email], [Status]) VALUES (2, N'TECH002', N'Lisa Engineer', N'07700-678901', N'lisa.engineer@ml.com', N'Active')
INSERT [dbo].[Technician] ([TechnicianID], [TechnicianCode], [TechnicianName], [ContactPhone], [Email], [Status]) VALUES (3, N'TECH003', N'Robert Fixit', N'07700-789012', N'robert.fixit@ml.com', N'Active')
SET IDENTITY_INSERT [dbo].[Technician] OFF
GO
SET IDENTITY_INSERT [dbo].[TechnicianSkill] ON 

INSERT [dbo].[TechnicianSkill] ([TechnicianSkillID], [TechnicianID], [SkillName], [SkillLevel]) VALUES (1, 1, N'Laptop', 4)
INSERT [dbo].[TechnicianSkill] ([TechnicianSkillID], [TechnicianID], [SkillName], [SkillLevel]) VALUES (2, 1, N'Printer', 3)
INSERT [dbo].[TechnicianSkill] ([TechnicianSkillID], [TechnicianID], [SkillName], [SkillLevel]) VALUES (3, 1, N'Router', 5)
SET IDENTITY_INSERT [dbo].[TechnicianSkill] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__1F6425480AC67144]    Script Date: 8/19/2026 2:27:53 PM ******/
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [UQ__Employee__1F6425480AC67144] UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employee_OfficeID]    Script Date: 8/19/2026 2:27:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employee_OfficeID] ON [dbo].[Employee]
(
	[OfficeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Equipmen__048A0008AC6FFFDD]    Script Date: 8/19/2026 2:27:53 PM ******/
ALTER TABLE [dbo].[Equipment] ADD UNIQUE NONCLUSTERED 
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Equipment_OfficeID]    Script Date: 8/19/2026 2:27:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Equipment_OfficeID] ON [dbo].[Equipment]
(
	[OfficeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HelpdeskProblem_EmployeeID]    Script Date: 8/19/2026 2:27:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_HelpdeskProblem_EmployeeID] ON [dbo].[HelpdeskProblem]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HelpdeskProblem_EquipmentID]    Script Date: 8/19/2026 2:27:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_HelpdeskProblem_EquipmentID] ON [dbo].[HelpdeskProblem]
(
	[EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HelpdeskProblem_Status]    Script Date: 8/19/2026 2:27:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_HelpdeskProblem_Status] ON [dbo].[HelpdeskProblem]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HelpdeskProblem_TechnicianID]    Script Date: 8/19/2026 2:27:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_HelpdeskProblem_TechnicianID] ON [dbo].[HelpdeskProblem]
(
	[TechnicianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_OfficeName]    Script Date: 8/19/2026 2:27:53 PM ******/
ALTER TABLE [dbo].[Office] ADD  CONSTRAINT [UQ_OfficeName] UNIQUE NONCLUSTERED 
(
	[OfficeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Software__1EF8059033B17E55]    Script Date: 8/19/2026 2:27:53 PM ******/
ALTER TABLE [dbo].[Software] ADD UNIQUE NONCLUSTERED 
(
	[LicenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Technici__ED64BD1AC4E621EC]    Script Date: 8/19/2026 2:27:53 PM ******/
ALTER TABLE [dbo].[Technician] ADD UNIQUE NONCLUSTERED 
(
	[TechnicianCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TechnicianSkill]    Script Date: 8/19/2026 2:27:53 PM ******/
ALTER TABLE [dbo].[TechnicianSkill] ADD  CONSTRAINT [UQ_TechnicianSkill] UNIQUE NONCLUSTERED 
(
	[TechnicianID] ASC,
	[SkillName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TechnicianSkill_TechnicianID]    Script Date: 8/19/2026 2:27:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_TechnicianSkill_TechnicianID] ON [dbo].[TechnicianSkill]
(
	[TechnicianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[HelpdeskProblem] ADD  DEFAULT (getdate()) FOR [CallDateTime]
GO
ALTER TABLE [dbo].[HelpdeskProblem] ADD  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[Technician] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[TechnicianSkill] ADD  DEFAULT ((1)) FOR [SkillLevel]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [FK_AuditLog_Employee]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Office] FOREIGN KEY([OfficeID])
REFERENCES [dbo].[Office] ([OfficeID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Office]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_Office] FOREIGN KEY([OfficeID])
REFERENCES [dbo].[Office] ([OfficeID])
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_Equipment_Office]
GO
ALTER TABLE [dbo].[HelpdeskProblem]  WITH CHECK ADD  CONSTRAINT [FK_HelpdeskProblem_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[HelpdeskProblem] CHECK CONSTRAINT [FK_HelpdeskProblem_Employee]
GO
ALTER TABLE [dbo].[HelpdeskProblem]  WITH CHECK ADD  CONSTRAINT [FK_HelpdeskProblem_Employee_Operator] FOREIGN KEY([OperatorID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[HelpdeskProblem] CHECK CONSTRAINT [FK_HelpdeskProblem_Employee_Operator]
GO
ALTER TABLE [dbo].[HelpdeskProblem]  WITH CHECK ADD  CONSTRAINT [FK_HelpdeskProblem_Equipment] FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipment] ([EquipmentID])
GO
ALTER TABLE [dbo].[HelpdeskProblem] CHECK CONSTRAINT [FK_HelpdeskProblem_Equipment]
GO
ALTER TABLE [dbo].[HelpdeskProblem]  WITH CHECK ADD  CONSTRAINT [FK_HelpdeskProblem_Software] FOREIGN KEY([SoftwareID])
REFERENCES [dbo].[Software] ([SoftwareID])
GO
ALTER TABLE [dbo].[HelpdeskProblem] CHECK CONSTRAINT [FK_HelpdeskProblem_Software]
GO
ALTER TABLE [dbo].[HelpdeskProblem]  WITH CHECK ADD  CONSTRAINT [FK_HelpdeskProblem_Technician] FOREIGN KEY([TechnicianID])
REFERENCES [dbo].[Technician] ([TechnicianID])
GO
ALTER TABLE [dbo].[HelpdeskProblem] CHECK CONSTRAINT [FK_HelpdeskProblem_Technician]
GO
ALTER TABLE [dbo].[Software]  WITH CHECK ADD  CONSTRAINT [FK_Software_Equipment] FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipment] ([EquipmentID])
GO
ALTER TABLE [dbo].[Software] CHECK CONSTRAINT [FK_Software_Equipment]
GO
ALTER TABLE [dbo].[TechnicianSkill]  WITH CHECK ADD  CONSTRAINT [FK_TechnicianSkill_Technician] FOREIGN KEY([TechnicianID])
REFERENCES [dbo].[Technician] ([TechnicianID])
GO
ALTER TABLE [dbo].[TechnicianSkill] CHECK CONSTRAINT [FK_TechnicianSkill_Technician]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CHK_EmploymentEndDate] CHECK  (([EmploymentEndDate] IS NULL OR [EmploymentEndDate]>=[EmploymentStartDate]))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CHK_EmploymentEndDate]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [CHK_WarrantyDates] CHECK  (([WarrantyEndDate]>=[WarrantyStartDate]))
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [CHK_WarrantyDates]
GO
ALTER TABLE [dbo].[HelpdeskProblem]  WITH CHECK ADD  CONSTRAINT [CHK_ProblemStatus] CHECK  (([Status]='Closed' OR [Status]='In Progress' OR [Status]='Open'))
GO
ALTER TABLE [dbo].[HelpdeskProblem] CHECK CONSTRAINT [CHK_ProblemStatus]
GO
ALTER TABLE [dbo].[HelpdeskProblem]  WITH CHECK ADD  CONSTRAINT [CHK_ResolutionHours] CHECK  (([ResolutionHours] IS NULL OR [ResolutionHours]>=(0)))
GO
ALTER TABLE [dbo].[HelpdeskProblem] CHECK CONSTRAINT [CHK_ResolutionHours]
GO
ALTER TABLE [dbo].[Technician]  WITH CHECK ADD  CONSTRAINT [CHK_TechnicianStatus] CHECK  (([Status]='On Leave' OR [Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Technician] CHECK CONSTRAINT [CHK_TechnicianStatus]
GO
ALTER TABLE [dbo].[TechnicianSkill]  WITH CHECK ADD  CONSTRAINT [CHK_SkillLevel] CHECK  (([SkillLevel]>=(1) AND [SkillLevel]<=(5)))
GO
ALTER TABLE [dbo].[TechnicianSkill] CHECK CONSTRAINT [CHK_SkillLevel]
GO
USE [master]
GO
