USE [master]
GO
/****** Object:  Database [MLdb]    Script Date: 10/5/2026 5:17:33 PM ******/
CREATE DATABASE [MLdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MLdb', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\MLdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MLdb_log', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\MLdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MLdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MLdb]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 10/5/2026 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditID] [int] NOT NULL,
	[ActionType] [varchar](20) NULL,
	[IPAddress] [varchar](20) NULL,
	[Timestamp] [datetime] NULL,
	[Details] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10/5/2026 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] NOT NULL,
	[EmployeeCode] [int] NULL,
	[CREATEEmployeeName] [varchar](50) NULL,
	[ContactPhone] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](20) NULL,
	[EmploymentStartDate] [date] NULL,
	[EmploymentEndDate] [date] NULL,
	[JobTitle] [varchar](50) NULL,
	[OfficeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipments]    Script Date: 10/5/2026 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipments](
	[EquipmentID] [int] NOT NULL,
	[SerialNumber] [varchar](50) NULL,
	[EquipmentType] [varchar](20) NULL,
	[Manufacturer] [varchar](50) NULL,
	[Make] [varchar](20) NULL,
	[Model] [varchar](20) NULL,
	[WarrantyStartDate] [date] NULL,
	[WarrantyEndDate] [date] NULL,
	[WarrantyStatus] [varchar](20) NULL,
	[OfficeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HelpDeskProblems]    Script Date: 10/5/2026 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HelpDeskProblems](
	[ProblemNumber] [int] NOT NULL,
	[OperatorID] [int] NULL,
	[ProblemType] [varchar](50) NULL,
	[CallDateTime] [datetime] NULL,
	[Reason] [varchar](50) NULL,
	[ProblemDescription] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProblemNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offices]    Script Date: 10/5/2026 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offices](
	[OfficeID] [int] NOT NULL,
	[OfficeName] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[ContactPhone] [varchar](20) NULL,
	[Specialisation] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OfficeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 10/5/2026 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillID] [int] NOT NULL,
	[SkillName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Softwares]    Script Date: 10/5/2026 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Softwares](
	[SoftwareID] [int] NOT NULL,
	[SoftwareName] [varchar](50) NULL,
	[Version] [varchar](20) NULL,
	[LicenceNumber] [varchar](50) NULL,
	[LicenceStartDate] [date] NULL,
	[LicenceEndDate] [date] NULL,
	[LicenceStatus] [varchar](20) NULL,
	[OfficeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoftwareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technicians]    Script Date: 10/5/2026 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technicians](
	[TechnicianCode] [int] NOT NULL,
	[TechnicianName] [varchar](50) NULL,
	[ContactPhone] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TechnicianCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicianSkills]    Script Date: 10/5/2026 5:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicianSkills](
	[TechnicianSkillID] [int] NOT NULL,
	[TechnicianCode] [int] NULL,
	[SkillID] [int] NULL,
	[SkillLevel] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TechnicianSkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AuditLogs] ([AuditID], [ActionType], [IPAddress], [Timestamp], [Details]) VALUES (1, N'INSERT', N'192.168.1.10', CAST(N'2026-01-10T09:20:00.000' AS DateTime), N'Added new technician')
INSERT [dbo].[AuditLogs] ([AuditID], [ActionType], [IPAddress], [Timestamp], [Details]) VALUES (2, N'UPDATE', N'192.168.1.11', CAST(N'2026-02-15T14:05:00.000' AS DateTime), N'Updated equipment warranty status')
INSERT [dbo].[AuditLogs] ([AuditID], [ActionType], [IPAddress], [Timestamp], [Details]) VALUES (3, N'INSERT', N'192.168.1.12', CAST(N'2026-03-20T11:30:00.000' AS DateTime), N'Created helpdesk ticket')
GO
INSERT [dbo].[Employee] ([EmployeeID], [EmployeeCode], [CREATEEmployeeName], [ContactPhone], [Email], [Password], [EmploymentStartDate], [EmploymentEndDate], [JobTitle], [OfficeID]) VALUES (1, 201, N'Su Su', N'09789901234', N'susu@office.com', N'pass123', CAST(N'2024-01-10' AS Date), NULL, N'Helpdesk Officer', 1)
INSERT [dbo].[Employee] ([EmployeeID], [EmployeeCode], [CREATEEmployeeName], [ContactPhone], [Email], [Password], [EmploymentStartDate], [EmploymentEndDate], [JobTitle], [OfficeID]) VALUES (2, 202, N'Zaw Zaw', N'0989012345', N'zawzaw@office.com', N'pass456', CAST(N'2024-02-15' AS Date), NULL, N'Senior Helpdesk Officer', 1)
INSERT [dbo].[Employee] ([EmployeeID], [EmployeeCode], [CREATEEmployeeName], [ContactPhone], [Email], [Password], [EmploymentStartDate], [EmploymentEndDate], [JobTitle], [OfficeID]) VALUES (3, 203, N'Nay Nay', N'0990123456', N'naynay@office.com', N'pass789', CAST(N'2024-03-20' AS Date), CAST(N'2026-06-30' AS Date), N'Support Staff', 2)
GO
INSERT [dbo].[Equipments] ([EquipmentID], [SerialNumber], [EquipmentType], [Manufacturer], [Make], [Model], [WarrantyStartDate], [WarrantyEndDate], [WarrantyStatus], [OfficeID]) VALUES (1, N'EQ-001', N'Punching Bag', N'FightGear Co', N'ProLine', N'PB-X1', CAST(N'2023-05-12' AS Date), CAST(N'2026-05-12' AS Date), N'In Warranty', 1)
INSERT [dbo].[Equipments] ([EquipmentID], [SerialNumber], [EquipmentType], [Manufacturer], [Make], [Model], [WarrantyStartDate], [WarrantyEndDate], [WarrantyStatus], [OfficeID]) VALUES (2, N'EQ-002', N'Training Mat', N'SafeFloor Ltd', N'SafeMat', N'M-200', CAST(N'2023-06-20' AS Date), CAST(N'2026-06-20' AS Date), N'Out of Warranty', 1)
INSERT [dbo].[Equipments] ([EquipmentID], [SerialNumber], [EquipmentType], [Manufacturer], [Make], [Model], [WarrantyStartDate], [WarrantyEndDate], [WarrantyStatus], [OfficeID]) VALUES (3, N'EQ-003', N'Focus Mitt Set', N'StrikeBrand', N'Strike', N'FM-03', CAST(N'2023-08-05' AS Date), CAST(N'2025-08-05' AS Date), N'Out of Warranty', 2)
GO
INSERT [dbo].[HelpDeskProblems] ([ProblemNumber], [OperatorID], [ProblemType], [CallDateTime], [Reason], [ProblemDescription]) VALUES (1, 1, N'Hardware Fault', CAST(N'2026-04-02T09:30:00.000' AS DateTime), N'Mat Damage', N'Training mat has tear on front edge')
INSERT [dbo].[HelpDeskProblems] ([ProblemNumber], [OperatorID], [ProblemType], [CallDateTime], [Reason], [ProblemDescription]) VALUES (2, 2, N'Software Issue', CAST(N'2026-04-10T14:15:00.000' AS DateTime), N'PC Freeze', N'Office computer freezes randomly')
INSERT [dbo].[HelpDeskProblems] ([ProblemNumber], [OperatorID], [ProblemType], [CallDateTime], [Reason], [ProblemDescription]) VALUES (3, 3, N'Equipment Noise', CAST(N'2026-04-18T10:00:00.000' AS DateTime), N'Bag Squeak', N'Punching bag makes strange sound')
GO
INSERT [dbo].[Offices] ([OfficeID], [OfficeName], [Address], [ContactPhone], [Specialisation]) VALUES (1, N'Yangon Main Office', N'123 Downtown St, Yangon', N'0912345678', N'IT Support')
INSERT [dbo].[Offices] ([OfficeID], [OfficeName], [Address], [ContactPhone], [Specialisation]) VALUES (2, N'Bago Branch', N'456 Bago Road', N'0923456789', N'Hardware Maintenance')
GO
INSERT [dbo].[Skills] ([SkillID], [SkillName]) VALUES (1, N'Network Troubleshooting')
INSERT [dbo].[Skills] ([SkillID], [SkillName]) VALUES (2, N'Hardware Repair')
INSERT [dbo].[Skills] ([SkillID], [SkillName]) VALUES (3, N'Software Installation & Troubleshooting')
GO
INSERT [dbo].[Softwares] ([SoftwareID], [SoftwareName], [Version], [LicenceNumber], [LicenceStartDate], [LicenceEndDate], [LicenceStatus], [OfficeID]) VALUES (1, N'Anti-Virus Pro', N'v8.5', N'LIC-0001', CAST(N'2023-05-01' AS Date), CAST(N'2027-05-30' AS Date), N'Valid', 1)
INSERT [dbo].[Softwares] ([SoftwareID], [SoftwareName], [Version], [LicenceNumber], [LicenceStartDate], [LicenceEndDate], [LicenceStatus], [OfficeID]) VALUES (2, N'Office Suite', N'2021', N'LIC-0002', CAST(N'2023-06-10' AS Date), CAST(N'2028-02-12' AS Date), N'Valid', 1)
INSERT [dbo].[Softwares] ([SoftwareID], [SoftwareName], [Version], [LicenceNumber], [LicenceStartDate], [LicenceEndDate], [LicenceStatus], [OfficeID]) VALUES (3, N'Database Tool', N'v3.5', N'LIC-0003', CAST(N'2024-01-05' AS Date), CAST(N'2026-11-20' AS Date), N'Expiring Soon', 2)
GO
INSERT [dbo].[Technicians] ([TechnicianCode], [TechnicianName], [ContactPhone], [Email], [Status]) VALUES (101, N'Aung Min', N'0945678123', N'aungmin@tech.com', N'Active')
INSERT [dbo].[Technicians] ([TechnicianCode], [TechnicianName], [ContactPhone], [Email], [Status]) VALUES (102, N'Hla Hla', N'0956789234', N'hlahla@tech.com', N'Active')
INSERT [dbo].[Technicians] ([TechnicianCode], [TechnicianName], [ContactPhone], [Email], [Status]) VALUES (103, N'Kyaw Kyaw', N'0967890345', N'kyawkyaw@tech.com', N'Active')
GO
INSERT [dbo].[TechnicianSkills] ([TechnicianSkillID], [TechnicianCode], [SkillID], [SkillLevel]) VALUES (1, 101, 1, N'Expert')
INSERT [dbo].[TechnicianSkills] ([TechnicianSkillID], [TechnicianCode], [SkillID], [SkillLevel]) VALUES (2, 101, 2, N'Intermediate')
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([OfficeID])
REFERENCES [dbo].[Offices] ([OfficeID])
GO
ALTER TABLE [dbo].[Equipments]  WITH CHECK ADD FOREIGN KEY([OfficeID])
REFERENCES [dbo].[Offices] ([OfficeID])
GO
ALTER TABLE [dbo].[HelpDeskProblems]  WITH CHECK ADD FOREIGN KEY([OperatorID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Softwares]  WITH CHECK ADD FOREIGN KEY([OfficeID])
REFERENCES [dbo].[Offices] ([OfficeID])
GO
ALTER TABLE [dbo].[TechnicianSkills]  WITH CHECK ADD FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skills] ([SkillID])
GO
ALTER TABLE [dbo].[TechnicianSkills]  WITH CHECK ADD FOREIGN KEY([TechnicianCode])
REFERENCES [dbo].[Technicians] ([TechnicianCode])
GO
USE [master]
GO
